<div class="content">
    <div class="row">
        <button type="button" class="btn btn-success col-sm-2 offset-sm-10" (click)="createUserPage()">Create New User</button>
    </div>

    <div>
        <ng-container *ngIf="userList && userList.length > 0">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
            
                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
                        <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <button type="button" class="btn btn-danger" (click)="deleteUser(row._id)">Delete</button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
        
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </ng-container>

        <ng-container *ngIf="!userList || userList.length == 0">
            <h3>Yopu haven't created users yet!</h3>
        </ng-container>
    </div>
</div>