<div class="content">
    <form [formGroup]="userForm" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input formControlName="name" type="text" placeholder="Name" id="name" class="form-control" />
                <span *ngIf="!userForm.get('name').valid">Invalid value!</span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">Surname</label>
            <div class="col-sm-10">
                <input formControlName="surname" type="text" placeholder="Surname" id="surname" class="form-control" />
                <span *ngIf="!userForm.get('surname').valid">Invalid value!</span>
            </div>
            
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input formControlName="email" type="text" placeholder="Email" pattern="" id="email" class="form-control" />
                <span *ngIf="!userForm.get('email').valid">Invalid value!</span>
            </div>
            
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" (click)="createUser()">Create User</button>
            </div>
        </div>
        
    </form>
</div>